llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface
chromadb
llama-index-vector-stores-chroma
#transformers
#einops
#bitsandbytes
#pypdf
huggingface_hub==0.23.5
torch
gradio
#streamlit
